.c-button-detail{
    position:absolute;
    top:50%;
    left:50%;
    /*padding:0.1em;*/
    //min-width:180px;
    width:5rem;
    height:5rem;
    line-height: 6.5rem;
    border-radius:50%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index:200;
    background-color: #000;
    color:#fff;
    &:hover{
        opacity: 0.8;
    }
    transition: all .3s;
}

.c-button-detail--legend{
    position:absolute;
    top:5rem;
    line-height: 1rem;
    width:100%;
}