.c-menu{
    box-sizing: border-box;
    position:fixed;
    display: block;
    width:100%;
    top:10px;
    padding:0 45px;
    margin:0;
    //right:45px;
    li{
        display:inline-block;
        margin-right:1em;
        span{
            margin-left: 0.5em;
            font-weight: bold;
        }
        &.c-menu--right{
           float: right;
        }
    
        &.c-menu--left{
            float: left;
        }
    }
    z-index:70;
    cursor: pointer;
    //text-align: right;

}