.c-menu{
    position:fixed;
    display: block;
    top:45px;
    right:45px;
    li{
        display:inline-block;
        margin-right:1em;
        span{
            margin-left: 0.5em;
            font-weight: bold;
        }
    }
    z-index:1000;
}