.c-prevnext{
    position:fixed;
    box-sizing: border-box;
    top:0;
    left:0;
    width:100%;
    height:100%;
    min-height: 100vh;
    //background-color: rgba(0, 0, 0, 0.1);
    //z-index:50;
    transition: all .3s;
}

.c-prevnext__prev{
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:100%;
    //background-color: rgba(122, 122, 122, 0.1);
    text-align: left;
    i{
        cursor:pointer;
        position:absolute;
        top:50%;
        transform:translateY(-50%);
        left:45px;
        transition:all .3s;
    }
    &:hover{
        /*background-color: rgba(0, 0, 0, 0.5);
        background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));*/
        & i{
            left:40px;
            opacity: 0.3;
        }
    }
    cursor: url('~img/cursor-left.png') 0 50, progress;
    //cursor: url(/user-files/themes/nearestneighbour/images/arrow-left.png) 0 17,auto;
    //cursor: url('~img/img1.jpg');
}   

.c-prevnext__next{
    position:absolute;
    top:0;
    right:0;
    width:50%;
    height:100%;
    //background-color: rgba(180, 180, 180, 0.1);
    //text-align: right;
    i{
        cursor:pointer;
        position:absolute;
        top:50%;
        transform:translateY(-50%);
        right:45px;
        transition:all .3s;
    }
    &:hover{
        /*background-color: rgba(0, 0, 0, 0.5);
        background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));*/
        & i{
            right:40px;
            opacity: 0.3;
        }
    }
    cursor: url('~img/cursor-right.png') 51 50, progress;
}