ul.c-projectPagination{
    /*position:fixed;
    right:45px;
    bottom:45px;
    z-index:150;*/
    margin:6px 0;
    padding:0;
    float:right;
    cursor:pointer;
    li{
        display:inline-block;
        margin-right:1em;
        span{
            position:fixed;
            right:45px;
            width:20%;
            bottom:100px;
            display:none;
            transition: all .3s;
            img {
                max-width:100%;
                height:auto;
            }
        }
    }
    li:hover{
        span{
            display: block;
        }
    }
}