.c-project-description{
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    max-width:480px;
    background:rgba(255,255,255,0.8);

    &.c-project-description--close{
        width: 100px;
        left: 0;
        top: 150px;
        height:auto;
    }

    &.c-project-description--open{
        overflow-y: auto;
        z-index: 200;
        width: 50%;
        height:100%;
        left: 0;
        top: 0;
        //bottom:0;
    }
}

.c-project-description__desc{
    box-sizing: border-box;
    padding:0 1em;
    h1{
        padding-right: 25px;
    }
}

.c-project-description--open{
    .c-project-description__toggle{
        display: none;
    }
    .c-project-description__desc{
        display: inline-block;
    }
}

.c-project-description--close{
    .c-project-description__desc{
        display: none;
    }
    .c-project-description__toggle{
        display: block;
        cursor:pointer;
    }
}

.c-project-description__btn--close{
    position:absolute;
    right:15px;
    top:15px;
    cursor:pointer;
}
