.c-projectName{
    /*position:fixed;
    left:45px;
    bottom:20px;
    z-index:150;*/
    cursor:pointer;
    animation-duration: 1s;
    h1,h2{
        margin:0 0 15px 0;
    }
    h1{
       //font-weight: 100; 
    }
    h2{
        font-family: 'helveticaneue',sans-serif;
    }

    @include mq('tablet','max') {
        float:none;
        margin:0 auto 10px;
        display: block;
        text-align: center;
    }
}