.c-project-description{
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    //width: 100%;
    max-width:480px;
    transition:all .3s ease;
    background:rgba(255,255,255,0.8);
    text-align: left;

    hr{
        //width:100% !important;
    }

    &.c-project-description--close{
        overflow-y: hidden;
        z-index: 200;
        height:100%;
        left: 0;
        top: 100%;
    }

    &.c-project-description--open{
        overflow-y: auto;
        z-index: 200;
        height:100%;
        left: 0;
        top: 0;
    }

    .c-project-description--title{
        margin-bottom: 1em;
        border-bottom: 2px solid #000;
    }

    .c-project-description--category{
        font-size:0.8em;
    }

    .c-project-description--apropos{

        padding-right: 35px;
        font-family: 'helveticaneue',sans-serif;

        hr{
            color:#000;
            height:2px;
            width:75px;
            width:auto;
            margin-left:0;
        }

        ul li{
            list-style:disc;
            list-style-type: disc;
            margin-left: 20px;
            font-size: 0.9em;
        }
    }

    .c-project-description--apropos,
    .c-project-description__desc{

        hr{
            color:#000;
            background-color: #000;
            height:2px;
            width:75px;
            width:auto;
            margin-left:0;
        }
    }

}

.c-project-description__desc{
    box-sizing: border-box;
    padding:0 1em;
    h1,p{
        //padding-right: 25px;
    }
    p{
        font-size: 0.9em;
    }
}

.c-project-description--open{
    .c-project-description__toggle{
        display: none;
    }
    .c-project-description__desc{
        display: inline-block;
    }
}

.c-project-description--close{
    .c-project-description__desc{
        display: none;
    }
    .c-project-description__toggle{
        display: block;
        cursor:pointer;
    }
}

.c-project-description__btn--close{
    display:block;
    text-align: right;
    cursor: pointer;
}
