.c-projectPagination{
    position:fixed;
    right:45px;
    bottom:45px;
    z-index:150;
    cursor:pointer;
    li{
        display:inline-block;
        margin-right:1em;
        span{
            position:fixed;
            right:45px;
            width:40%;
            bottom:100px;
            display:none;
            background-color: #000;
            padding:5px;
            transition: all .3s;
            img {
                max-width:100%;
                height:auto
            }
        }
    }
    li:hover{
        span{
            display: block;
        }
    }
}