ul.c-project-list {
    margin:0;
    padding:0;
}

.c-project-list__detail__images-wrapper ul,
.c-project-list--category ul{
    margin:0;
    padding:0;
}

.c-project-list--category{
    border-bottom: 3px solid #000;
    h1,h2{
        text-decoration: underline;
        margin-left: 0.25em;
    }
    margin-bottom: 2em;
    //padding:1em 2em 1em 2.5em;

    ul li:last-child{
        article{
            border:none;
        }  
    }
}

.c-project-list__item {
    display: table;
    position:relative;
    width:95%;
    margin-right: 5%;
    //border-bottom:1px solid #000;
    overflow: hidden;
    cursor: pointer;
    &:last-child{

        .c-project-list__title,
        .c-project-list__description{
            padding:1em 1em 1em 0;
            border-bottom:none;
        }

    }    
    & .c-project-list__item--line{
        position:absolute;
        display: block;
        left:72px;
        top:0;
        bottom:0;
        width:1px;
        height:100%;
        text-align: center;
        background-color: #000;
    }
    /*.c-project-list__item--bottom-line{
        display: inline-block;
        position: absolute;
        width:100%;
        height:1px;
        background-color: #000;
        right:0;
        bottom:0;
    }*/
    & .c-project-list__item--point{
        position:absolute;
        display: block;
        font-size:1.6em;
        top:-10px;
        width:25px;
        left:60px;
        height:100%;
        text-align: center;
    }
    //& .c-project-list__year,
    & .c-project-list__title,
    & .c-project-list__description{
        padding:1em 1em 1em 0;
        border-bottom:1px solid #000;
    }
    & .c-project-list__description,
    & .c-project-list__year,
    & .c-project-list__item--point{
        font-family: 'helveticaneue',sans-serif;
    }
    & .c-project-list__year{
        padding-left: 7rem;
    }

    .c-project-list__year{
        @include mq('tablet','max') {        
            float:right;
            width:80%;
            //border-left:1px solid #000;
            border-bottom:none;
            padding: 0.5em 0.5em 1em 1em;
        }
    }
    .c-project-list__description,
    .c-project-list__title{
        @include mq('tablet','max') {        
            float:right;
            width:68%;
            //border-left:1px solid #000;
            border-bottom:none;
            padding: 0.5em 0.5em 1em 1em;
        }
    }

    .c-project-list__description{
        @include mq('tablet','max') {        
            border-bottom:1px solid #000;
        }
    }

}

.c-project-list__item__cell {
    display: table-cell;
    vertical-align: top;
    width:33%;
}

.c-project-list__detail{
    display: absolute;
    top:0;
    left:0;
    min-width:100%;
    height:270px;
    cursor: pointer;
    overflow-y: auto;
    //overflow-x: hidden;
    transition:all .3s ease;

    &.c-project-list__detail--open{
        display: block;
    }

    &.c-project-list__detail--close{
        display: none;
    }

    div.c-project-list__detail__images-wrapper{
        overflow-y: auto;
        margin-left:31.8%;
        @include mq('tablet','max') {        
            margin-left:0;
        }
    }
    ul{
        min-width:100%;
    }
    li{
        display:inline-block;
        //margin-right:1em;
    }
}

.c-project-list__detail__image{
    display: block;
    max-height:230px;
}

.c-project-list__detail__image img{
    max-height:215px;
    //margin:15px 0 15px 15px;    
}

.c-project-list__btn--close{
    text-align: right;
    a img{
        padding: 15px;
        max-width: 25px;
        cursor:pointer;
    }
}