.c-project-description{
    box-sizing: border-box;
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:100%;
    background:rgba(255,255,255,0.8);
    padding:5rem 45px 3rem;
}

.c-project-description--open{
    display: inline-block;
}

.c-project-description--close{
    display: none;
}