.c-project-detail{
    position:absolute;
    top:12rem;
    left:45px;
    z-index:75;
    width:auto;
}

.c-project-detail__retour{
    position:fixed;
    display: block;
    width:6rem;
    height:6rem;
    line-height: 6rem;
    border-radius: 50%;
    top:150px;
    left:45px;
    text-align: center;
    background-color: #000;
    color:#fff;
    cursor:pointer;
}